{% extends "base.html" %}
{% block content %}
    <h2>Let's Anonymize</h2>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter the kata url:<br>
          {{ form.submission_url(size=80) }}<br>
          {% for error in form.submission_url.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>
      </p>
      <p> Please enter the type of kata:<br>
        {{ form.description(size=80) }}</p>
        {% for error in form.description.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>
      <p><input type="submit" value="Anonymize!"></p>
      <hr><br />
  </form>
{% endblock %}
